.s-body{
  background-color:transparent;
  z-index:10;
  height: 100%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.s-video {
  width:100%;
  height:100%;
  z-index:-1;
  position:absolute;
}

.s-static-background {
  width:100%;
  height:100%;
  z-index:-10;
  position:absolute;
}

.s-static-overlay {
  width:100%;
  height:100%;
  z-index:-5;
  position:absolute;
  background-color: black;
  opacity: .55;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
      .s-video {
          display: none;
      }
}

@media only screen and (min-width: 800px) {
    /* Desktop*/
      .s-static-background {
          display: none;
      }
}



.s-logo {
  width: 50%;
  align-items:center;
}

.s-media-container {
  padding: 25px;
  display:flex;
  flex-direction: row;
  height:50px;
  width:100%;
}

.s-media{
  margin: 20px 0;
  flex:1;
  text-align: center;
}

.music-player{
  flex: 1;
  height: 75px;
  justify-content: flex-start;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.hide {
  display: none;
}

.actionButtons{
  padding: 10px 0;
}
